# Copy this file to .env.local and fill in the credentials from your Quran Foundation email.

# Use "prelive" for hackathon/test credentials unless Quran Foundation told you to use production.
QF_ENV=production

QF_CLIENT_ID=
QF_CLIENT_SECRET=
# Optional overrides. Leave these commented out to use the official defaults foonr QF_ENV.
# QF_AUTH_BASE_URL=https://prelive-oauth2.quran.foundati
# QF_API_BASE_URL=https://apis-prelive.quran.foundation
